body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #021b1b, #063f3f);
    font-family: Arial, sans-serif;
}

body.light {
    background: linear-gradient(135deg, #f5f7fa, #c3cfe2);
}

form {
    background: rgba(255, 255, 255, 0.15);
    padding: 30px;
    width: 320px;
    border-radius: 15px;
    text-align: center;
    backdrop-filter: blur(10px);
}

body.light form {
    background: white;
    color: black;
}

input,
button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 8px;
    border: none;
}

button {
    cursor: pointer;
    background: #0077ff;
    color: white;
    font-weight: bold;
}

.theme-toggle {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 2px solid white;
    background: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

body.light .theme-toggle {
    border-color: black;
    color: black;
}

.register-btn {
    display: block;
    margin-top: 10px;
    padding: 10px;
    background: #2e4547;
    color: black;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
}

.register-btn:hover {
    background: #0077ff;
    color: white;
}